<p id="notice"><%= notice %></p>

<% if @curriculums.empty? %>
  <h4 id= "headline" class="center"><br>There are no curriculums in the system at this time.<br><br></h4><br>
<% else %>
  <h4 id= "headline" class="center"><br>Curriculums<br><br></h4><br>

  <table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ratings</th>
      <th>Times Used</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curriculums.each do |curriculum| %>
      <tr>
        <td><%= link_to curriculum.name, curriculum %></td>
        <td><%= curriculum.min_rating == 0 ? "Unrated" : curriculum.min_rating %> - <%= curriculum.max_rating %></td>
        <td><%= Camp.for_curriculum(curriculum.id).size %></td>
        <% if logged_in? && current_user.role?(:admin) %>
        <td>
          <%= link_to edit_curriculum_path(curriculum) do %>
            <i class="material-icons">edit</i>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<span class="paginate">
  <%= will_paginate @curriculums, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => 'active_camps' %>
</span>