<div id="form-template">
  <h5>New Camp Instructor</h5>
  <% @camp_instructor = CampInstructor.new %>
  <!-- now the form template itself -->
  <div class="row">
    <div class="col">
      <%= simple_form_for(@camp_instructor) do |f| %>
        <%= f.error_notification %>
          <div class="row">
          <div class="form-inputs">
            <%= f.input :instructor_id, collection: Instructor.where('id NOT IN (?)', Instructor.for_camp(@camp).all.map(&:id)).active.alphabetical, include_blank: true %>
            <%= f.input :camp_id, as: :hidden, input_html: { value: @camp.id } %>
          </div>
        </div>
        <div class="row">
          <div class="form-actions col s8">
            <%= f.button :submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!--<div class="col s4">-->
  <!--  <%# render :partial => "other_instructors" %>-->
  <!--</div>-->
</div>