<!--<div class="col s12">-->
<!--  <div class="card indigo lighten-2">-->
<!--    <div class="card-content white-text">-->
<!--      <span class="card-title">Registered Students</span>-->
<!--      <table>-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th>Name</th>-->
          <!--<th>Points Earned</th>-->
<!--          <th>Family</th>-->
<!--        </tr>-->
<!--      </thead>-->

<!--      <tbody>-->
<!--        <%# @camp.registrations.each do |r| %>-->
<!--          <tr>-->
<!--            <td><%# link_to r.student.proper_name, r.student %></td>-->
            <!--<td>< r.points_earned ></td>-->
<!--            <td><%# link_to r.student.family.family_name, r.student.family %></td>-->
<!--          </tr>-->
<!--        <%# end %>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div id="students_list">
  <%= hidden_field_tag "camp_id", @camp.id %>
  <% if @students.empty? %>
    <% if can? :create, Registration %>
      <div class="card indigo lighten-3">
        <div class="card-action">
          <!-- Note in class that message not consistent with activity -->
          <%= link_to "Add to Cart", "#", {%s(v-on:click) => "switch_modal()"} %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="card indigo lighten-2" >
      <div class="card-content white-text">
        <span class="card-title">Registered Students</span>
        
        <ul is='student-row' 
          v-for='student in students' 
          v-bind:student='student'
          class="no_bullet">  
        </ul>
        <% if can? :create, Registration %>
          <div class="card-action">
            <!-- Could bind title based on state, but chance to show v-else directive -->
            <div v-if="modal_open">
              <%= link_to "Cancel", "#", {%s(v-on:click) => "switch_modal()"} %>
            </div>
            <div v-else>
              <%= link_to "Add to Cart", "#", {%s(v-on:click) => "switch_modal()"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div v-if="modal_open">
    <new-student-form></new-student-form>
  </div>
</div>

<script type="text/x-template" id="student-row">
  <li>
    <% if logged_in? && current_user.role?(:admin) %>
      <a v-on:click="remove_record(student)" class="remove">x&nbsp;&nbsp;</a>
    <% end %>
    {{ student.first_name + " " + student.last_name }}
    
  </li>
</script>

<script type="text/x-template" id="student-form-template">
  <%= render "student_form_template", locals: {camp: @camp} %>
</script>
