<div class="row">
  <div class="col s4">
    <div class="card">
      <div class="card-image" >
        <%= link_to "#{image_tag ("camp.jpg")}".html_safe, curriculum_path(@camp1) %>
        <span class="card-title"><%= link_to "Principles of Chess", curriculum_path(@camp1)%></span>
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <%= link_to "#{image_tag ("camp1.jpg")}".html_safe, curriculum_path(@camp2) %>
        <span class="card-title"><%= link_to "Endgame Principles", curriculum_path(@camp2)%></span>
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <%= link_to "#{image_tag ("camp2.jpg")}".html_safe, curriculum_path(@camp3) %>
        <span class="card-title"><%= link_to "Mastering Chess Tactics", curriculum_path(@camp3)%></span>
      </div>
    </div>
  </div>
</div>

<%= render partial: "partials/index_structure", locals: {model_name: "camp", 
                                                         primary: "active_camps", 
                                                         secondary: "inactive_camps",
                                                         sidebar: nil} %>
