<div class="row">
  <h4 id= "headline" class="center"><br><%= @camp.name %><br><br></h4><br>
  <div class="col s7">
    <%= render :partial => "camp_details" %>
  </div>
  <div class="col s5">
    <%= render :partial => "camp_instructors"%>
    <% if logged_in? && (current_user.role?(:admin) || (current_user.role?(:instructor) && current_role.camps.include?(@camp)) || (current_user.role?(:parent) && !@eligible_students.empty?))%>
      <%= render :partial => "camp_students_vue"%>
    <% end %>
    
  </div>
</div>
<div class="row">
  <div class="col s12">
    <% if logged_in? %>
      <%= render :partial => "partials/object_options", locals: {model_name: "camp", object: @camp} %>
    <% end %>
  </div>
</div>

