<div class="row">
  <div class="col s7">
    <%= render :partial => "camp_details" %>
  </div>
  <div class="col s5">
    <%= render :partial => "camp_instructors"%>
    <% if current_user.role?(:admin) || @instructors.include?(current_role) || @families.include?(current_role) %>
      <%= render :partial => "camp_students"%>
    <% end %>
    <%= render :partial => "add_to_cart" %>
    
  </div>
</div>
<div class="row">
  <div class="col s12">
    <%= render :partial => "partials/object_options", locals: {model_name: "camp", object: @camp} %>
  </div>
</div>

