<%= simple_form_for(@family) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <% if current_role == @family %>
        <%= f.input :family_name, as: :hidden, label_html: { class: 'active' } %>
        <%= f.input :parent_first_name, as: :hidden, label_html: { class: 'active' } %>
        <%= f.input :username, as: :hidden, label_html: { class: 'active' } %>
      <% else %>
        <%= f.input :family_name, label_html: { class: 'active' } %>
        <%= f.input :parent_first_name, label_html: { class: 'active' } %>
        <%= f.input :username, label_html: { class: 'active' } %>
      <% end %>
      <%= f.input :email, label_html: { class: 'active' } %>
      <%= f.input :phone, label_html: { class: 'active' } %>
      <%= f.input :password, label_html: { class: 'active' } %>
      <%= f.input :password_confirmation, label_html: { class: 'active' } %>
      <% if logged_in? && current_user.role?(:admin) %>
        <%= f.input :active %>
      <% else %>
        <%= f.input :active, as: :hidden %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="form-actions">
      <%= f.button :submit, "Submit" %>
    </div>
  </div>
<% end %>