<%= simple_form_for(@instructor) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <% if !current_user.role?(:instructor) %>
        <%= f.input :first_name, label_html: { class: 'active' } %>
        <%= f.input :last_name, label_html: { class: 'active' } %>
        <%= f.input :user_id, label_html: { class: 'active' } %>
      <% else %>
        <%= f.input :first_name, as: :hidden, label_html: { class: 'active' } %>
        <%= f.input :last_name, as: :hidden, label_html: { class: 'active' } %>
        <%= f.input :user_id, as: :hidden, label_html: { class: 'active' } %>
      <% end %>
      <%= f.input :bio, label_html: { class: 'active' } %>
      <%= f.input :email, label_html: { class: 'active' } %>
      <%= f.input :phone, label_html: { class: 'active' } %>
      <%= f.input :photo, input_type: 'file', label_html: { class: 'active' } %>
      <%= f.input :password, label_html: { class: 'active' } %>
      <%= f.input :password_confirmation, label_html: { class: 'active' } %>
      <%= f.input :active %>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col s8">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>



