<div class="row">
  <h4 id= "headline" class="center"><br><%= @instructor.proper_name %><br><br></h4><br>
  <div class="col s5">
    <%= render :partial => "instructor_details" %>
  </div>
  <div class="col s7">
    <%= render :partial => "partials/camps_list", locals: {camps: @upcoming_camps, state: "Upcoming"} %>
    <%= render :partial => "partials/camps_list", locals: {camps: @past_camps, state: "Past"} unless @past_camps.empty? %>
  </div>
</div>
<div class="row">
  <% if can? :index, Instructor %>
    <div class="col s12">
      <% if logged_in? %>
        <%= render :partial => "partials/object_options", locals: {model_name: "instructor", object: @instructor} %>
      <% end %>
    </div>
  <% end %>
</div>

