<div class="row">
  <div class="col s12 center">
    <!-- primary partial gets displayed here in main div -->
    <% if secondary.nil? %>
      <div class="col s10 offset-s1 center">
        <%= render partial: "#{primary}" %>
      </div>
    <% else %>
      <ul class="tabs">
        <li class="tab col s4 offset-s2 center"><a href="#tab1">Active</a></li>
        <li class="tab col s4 center"><a href="#tab2">Inactive</a></li>
      </ul>
    <% end %>
    
  </div>
  
  <% unless secondary.nil? %>
    <div id="tab1" class="col s10 offset-s1 center">
      <%= render partial: "#{primary}" %>
    </div>
    <div id="tab2" class="col s10 offset-s1 center">
      <p>&nbsp;</p>
      <%= render partial: "#{secondary}" %>
    </div>
  <% end %>

  <br></br>
  <% if logged_in? && current_user.role?(:admin) %>
    <div class="col s4 center">
      <!-- Add a button for new instances of object -->
      <%= link_to(eval("new_#{model_name}_path"), class: "btn waves-effect waves-light") do %>
        <!-- <i class="fa fa-plus"></i> -->
        &nbsp;Add a New <%= model_name.capitalize %>
      <% end %>
    </div>
  <% end %>
</div>

