<div>
<% if @items.empty? %>
<center><p>Your cart is empty!</p>
<a class="btn waves-effect" href="/camps">Add Camps</a></center>
<% else %>
  <table class="center">
    <thead>
      <tr>
        <th>Camp</th>
        <th>Student</th>
        <th>Cost</th>
        <th>Start Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item['camp_name'] %></td>
          <td><%= item['student_name'] %></td>
          <td><%= item['cost'] %></td>
          <td><%= item['date'] %></td>
          <td><%= link_to 'Remove', remove_item_path(id: item['ids'][0], student_id: item['ids'][1]), :class=>"btn waves-effect waves-light" %></td>
        </tr>
      <% end %>
    </tbody>
    <p>Total: $<% @total %></p>
  </table>
  
  <a class="btn modal-close modal-trigger" href="#checkout">Checkout now</a>
<% end %>
</div>