<div class="row">
  <div class="col s12 center">
    <ul class="tabs">
      <li class="tab col s2 offset-s3"><a href="#cal">Agenda</a></li>
      <li class="tab col s2"><a href="#upcoming">Upcoming</a></li>
      <li class="tab col s2"><a href="#stats">Statistics</a></li>
    </ul>
  </div>
  <div id="cal" class="container col s12">
    <br><br><br>
    <div class="container col s8" id="calendar"></div>
    <div class="col s4">
      <div class="card">
        <div class="card-content">
          <% @my_camps = current_role.camps.upcoming.limit(5) %>
          <span class="card-title" style="text-align:center;">Upcoming Camps</span><br>
          <table>
          <tbody class="home">
              <% @my_camps.each do |c| %>
                <tr>
                  <p style="text-align:center;"><%= link_to c.name, c %><br>
                  <%= link_to c.location.name, c.location %><br>
                  <%= c.start_date.strftime("%m/%d/%y") %><br>
                  <%= c.time_slot == "am" ? "Morning" : "Afternoon" %><br></p>
                </tr>
              <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div id="upcoming" class="col s12 center">
    <% @all_camps = current_role.camps.upcoming %>
    <h4>Upcoming Camps</h4><br>
    <table>
    <tbody class="home">
        <thead>
          <tr>
            <th>Camp</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time_Slot</th>
          </tr>
        </thead>
        <tbody>
          <% @all_camps.each do |c| %>
            <tr>
              <td><%= link_to c.name, c %></td>
              <td><%= link_to c.location.name, c.location %></td>
              <td><%= c.start_date.strftime("%m/%d/%y") %></td>
              <td><%= c.time_slot == "am" ? "Morning" : "Afternoon" %></td>
            </tr>
          <% end %>
        </tbody>
        
    </tbody>
    </table>
  </div>
  <div id="stats">
    <%= high_chart("my_id2", @chart2) %>
    <%= high_chart("my_id3", @chart3) do |c| %>
          <%= raw "options.tooltip.formatter = function() {return '<b> YUPI!! '+ this.point.name +'</b>: '+ this.y +' %';}"  %>
          <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
      <% end %>
    
    <%= high_chart("my_id4", @chart4) %>
  </div>
</div>




