<div class="row">
  <div class="col s12 center">
    <ul class="tabs">
      <li class="tab col s2 offset-s2"><a href="#cal">Agenda</a></li>
      <li class="tab col s2"><a href="#upcoming">Upcoming</a></li>
      <li class="tab col s2"><a href="#account">Manage</a></li>
      <li class="tab col s2"><a href="#stats">Statistics</a></li>
    </ul>
  </div>
  <div id="cal" class="container col s12">
    <h4 id= "dash" class="center"><br>My Agenda<br><br></h4><br>
    <div class="container col s8" id="calendar"></div>
    <div class="col s4">
      <div class="card">
        <div class="card-content">
          <span class="card-title" style="text-align:center;">Upcoming Camps</span>
          <table class="highlight">
          <tbody class="home">
              <% @my_camps.each do |c| %>
                <tr>
                  <br><p style="text-align:center;"><%= link_to c.name, c %><br>
                  <%= link_to c.location.name, c.location %><br>
                  <%= c.start_date.strftime("%m/%d/%y") %><br>
                  <%= c.time_slot == "am" ? "Morning" : "Afternoon" %><br></p>
                </tr>
              <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div id="upcoming" class="col s12 center">
    <% @all_camps = current_role.camps.upcoming %>
    <h4 id= "dash" ><br>My Upcoming Camps<br><br></h4><br>
    <table class="highlight">
    <tbody class="home">
        <thead>
          <tr>
            <th>Camp</th>
            <th>Location</th>
            <th>Date</th>
            <th>Enrollments</th>
            <th>Time Slot</th>
          </tr>
        </thead>
        <tbody>
          <% @all_camps.each do |c| %>
            <tr>
              <td><%= link_to c.name, c %></td>
              <td><%= link_to c.location.name, c.location %></td>
              <td><%= c.start_date.strftime("%m/%d/%y") %></td>
              <td><%= c.enrollment %></td>
              <td><%= c.time_slot == "am" ? "Morning" : "Afternoon" %></td>
            </tr>
          <% end %>
        </tbody>
        
    </tbody>
    </table>
  </div>
  <div id="account">
    <br><br>
    <h4 class="center" id= "dash"><br>My Account<br><br></h4><br>
    <div class="row">
      <div class="card center">
        <div class="card-content">
          <h4><%= @instructor.proper_name %> <%= link_to edit_instructor_path(@instructor) do %>
            <i class="material-icons">edit</i>
          <% end %></h4>
    
          <h5>Basic Information</h5>
          <% if @instructor.photo_url.nil? %>
          <p class="center instructor_image"><%= image_tag "default.png" %></p>
          <% else %>
          <p class="center instructor_image"><%= image_tag @instructor.photo_url %></p>
          <% end %>
          <p><strong>Bio: </strong><%= @instructor.bio %></p>
          <p><strong>Email: </strong><%= @instructor.email %></p>
          <p><strong>Phone: </strong><%= number_to_phone @instructor.phone %></p>
          <p><strong>Active:</strong>
            <%= @instructor.active ? "Yes" : "No" %>
          </p>
          
        </div>
      </div>
    </div>
  </div>
  <div id="stats">
    <br><br>
    <h4 class="center" id= "dash"><br>Program Statistics<br><br></h4><br>
    <div class="row">
      <div class="container col s7">
        <div class="card">
          <div class="card-content">
            <span class="card-title center">Registration by Curriculum</span><br>
            <%= pie_chart @graph1, legend: "bottom", donut: true, messages: {empty: "No registrations at this time"} %>
          </div>
        </div>
      </div>
      <div class="container col s5">
        <div class="card">
          <div class="card-content">
            <span class="card-title center">Registration by Location</span><br>
            <%= column_chart @graph2, xtitle: "Locations", ytitle: "Registrations", messages: {empty: "No registrations at this time"} %>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="container col s6">
        <div class="card">
          <div class="card-content">
            <span class="card-title center">Registration by Instructor</span><br>
            <%= column_chart @graph3, xtitle: "Instructors", ytitle: "Registrations", messages: {empty: "No registrations at this time"} %>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <span class="card-title center">Registration by Camp Week</span><br>
            <%= area_chart @graph4, xtitle: "Week", ytitle: "Registrations", curve: false, colors: ["#5aaa95"], messages: {empty: "No registrations at this time"} %>
          </div>
        </div>
      </div>
    
      <div class="container col s3">
        <div class="card">
          <div class="card-content">
            <span class="card-title center">Worst Customers</span><br>
            <% if @min_fams.nil? || @min_fams.empty? %>
              <p>No families in the system at this time.</p>
            <% else %>
              <table>
                <thead>
                  <tr>
                    <th>Family Name</th>
                    <th>Registrations</th>
                  </tr>
                </thead>
                <tbody class="highlight">
                <% @min_fams.each do |f| %>
                  <tr>
                    <td><%=link_to f[0], Family.find_by(family_name: f[0]) %></td>
                    <td><%= f[1] %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
      <div class="container col s3">
        <div class="card">
        <div class="card-content">
          <span class="card-title center">Best Customers</span><br>
          <% if @max_fams.nil? || @max_fams.empty? %>
            <p>No families in the system at this time.</p>
          <% else %>
            <table>
              <thead>
                <tr>
                  <th>Family Name</th>
                  <th>Registrations</th>
                </tr>
              </thead>
              <tbody class="highlight">
              <% @max_fams.each do |f| %>
                <tr>
                  <td><%=link_to f[0], Family.find_by(family_name: f[0]) %></td>
                  <td><%= f[1] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        </div>
      </div>
    </div>

  </div>
</div>




