<div class="row">
  <div class="col s12 center">
    <ul class="tabs">
      <li class="tab col s2 offset-s3"><a href="#cal">Agenda</a></li>
      <li class="tab col s2"><a href="#upcoming">Upcoming</a></li>
      <li class="tab col s2"><a href="#account">Manage</a></li>
    </ul>
  </div>
  <div id="cal" class="container col s12">
    <h4 id= "dash" class="center"><br>My Agenda<br><br></h4><br>
    <div class="container col s8" id="calendar"></div>
    <div class="col s4">
      <div class="card">
        <div class="card-content">
          <span class="card-title" style="text-align:center;">Upcoming Camps</span>
          <table class="highlight">
          <tbody class="home">
              <% @my_camps.each do |c| %>
                <tr>
                  <br><p style="text-align:center;"><%= link_to c.name, c %><br>
                  <%= link_to c.location.name, c.location %><br>
                  <%= c.start_date.strftime("%m/%d/%y") %><br>
                  <%= c.time_slot == "am" ? "Morning" : "Afternoon" %><br></p>
                </tr>
              <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div id="upcoming" class="col s12 center">
    <h4 id= "dash" ><br>My Upcoming Camps<br><br></h4><br>
    <table class="highlight">
    <tbody class="home">
        <thead>
          <tr>
            <th>Camp</th>
            <th>Location</th>
            <th>Date</th>
            <th>Enrollments</th>
            <th>Time Slot</th>
          </tr>
        </thead>
        <tbody>
          <% @all_camps.each do |c| %>
            <tr>
              <td><%= link_to c.name, c %></td>
              <td><%= link_to c.location.name, c.location %></td>
              <td><%= c.start_date.strftime("%m/%d/%y") %></td>
              <td><%= c.enrollment %></td>
              <td><%= c.time_slot == "am" ? "Morning" : "Afternoon" %></td>
            </tr>
          <% end %>
        </tbody>
        
    </tbody>
    </table>
  </div>
  <div id="account">
    <br><br>
    <h4 class="center" id= "dash"><br>My Account<br><br></h4><br>
    <div class="row">
      <div class="card center">
        <div class="card-content">
          <h4><%= @instructor.proper_name %> <%= link_to edit_instructor_path(@instructor) do %>
            <i class="material-icons">edit</i>
          <% end %></h4>
    
          <h5>Basic Information</h5>
          <% unless @instructor.photo_url.nil? %>
          <p class="instructor_image"><%= image_tag @instructor.photo_url %></p>
          <% end %>
          <p><strong>Bio: </strong><%= @instructor.bio %></p>
          <p><strong>Email: </strong><%= @instructor.email %></p>
          <p><strong>Phone: </strong><%= number_to_phone @instructor.phone %></p>
          <p><strong>Active:</strong>
            <%= @instructor.active ? "Yes" : "No" %>
          </p>
          
        </div>
      </div>
    </div>
  </div>
  
</div>




