<div class="container col s7" id="calendar"></div>
<div class="col s5">
  <div class="card">
    <div class="card-content">
      <% @my_camps = current_role.registrations.alphabetical.limit(4) %>
      <span class="card-title" style="text-align:center;">Upcoming Camps</span>
      <table>
      <tbody>
          <% @my_camps.each do |r| %>
            <tr>
              <p style="text-align:center;"><%= link_to r.camp.name, r.camp %><br>
              <%= link_to r.camp.location.name, r.camp.location %><br>
              <%= r.camp.start_date.strftime("%m/%d/%y") %><br>
              <%= r.camp.time_slot == "am" ? "Morning" : "Afternoon" %><br>
              <%= r.student.proper_name %><br><br></p>
            </tr>
          <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>