<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>A&M Chess Camp :: <%= controller.controller_name.capitalize %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if logged_in? && current_user.role?(:admin) %>
      <%= render :partial => "partials/nav_admin" %>
    <% elsif logged_in? && current_user.role?(:instructor) %>
      <%= render :partial => "partials/nav_instructor" %>
    <% elsif logged_in? && current_user.role?(:parent) %>
      <%= render :partial => "partials/nav_parent" %>
    <% else %>
      <%= render :partial => "partials/nav_guest" %>
    <% end %>
    
    <% if home_bool %>
      <div class="parallax-container">
        <div class="parallax"><%= image_tag 'chess.jpg' %></div>
      </div>
    <% end %>
    
    <div class="row">
      <div class = "container" id="main_content">
        <%= render :partial => "partials/flash" %>
        <br></br>
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="center-align" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer>
  </body>
  
  <div id="login" class="modal">
    <div class="modal-content">
      <h4>Login</h4>
          <br />
          <%= form_with url: sessions_path, local: true do |f| %>
          <div class="control-group">
            <%= f.label :username %>
            <div class="controls">
              <%= f.text_field :username %>
            </div>
          </div>
    
          <div class="control-group">
            <%= f.label :password %>
            <div class="controls">
              <%= f.password_field :password %>
            </div>
          </div>
          <div class="actions"><%= f.submit "Log In" %></div>
          
        <% end %>
      <p>New? <a class="modal-trigger" href="#signup">Signup here</a></p>
    </div>
    
  </div>
  
  <div id="signup" class="modal">
    <div class="modal-content">
      <h4>Create an account</h4>
          <br />
          <p>nothing yet</p>
      <p>Have an account? <a class="modal-trigger" href="#login">Login here</a></p>
    </div>
  </div>
</html>
