<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>A&M Chess Camp :: <%= controller.controller_name.capitalize %></title>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if logged_in? && current_user.role?(:admin) %>
      <%= render :partial => "partials/nav_admin" %>
    <% elsif logged_in? && current_user.role?(:instructor) %>
      <%= render :partial => "partials/nav_instructor" %>
    <% elsif logged_in? && current_user.role?(:parent) %>
      <%= render :partial => "partials/nav_parent" %>
    <% else %>
      <%= render :partial => "partials/nav_guest" %>
    <% end %>
    
    <% if home_bool %>
      <%= render :partial => "partials/flash" %>
      <div class="carousel carousel-slider center" style="height:700px;">
        <div class="carousel-fixed-item center" style="font-family: 'Montserrat', sans-serif;">
          <%= image_tag 'crown.png' %>
          <br><br><br><br><br><br><br><br>
          <% if logged_in? && current_user.role?(:parent) %>
            <div class="center-align white-text"><h3>Welcome <%= current_role.parent_first_name %> <%= current_role.family_name %></h3></div>
            <a class="btn waves-effect" href="/camps">Discover</a>
            <a class="btn waves-effect" href="/home/dash">Upcoming</a>
            <a class="btn waves-effect">Manage</a>
          <% elsif logged_in? && current_user.role?(:admin) %>
            <div class="center-align white-text"><h4>Welcome <%= current_role.first_name %> <%= current_role.last_name %></h4></div>
            <a class="btn waves-effect" href="/home/dash">Agenda</a>
            <a class="btn waves-effect" href="/home/dash#upcoming">Upcoming</a>
            <a class="btn waves-effect" href="/home/dash#stats">Statistics</a>
            <% elsif logged_in? && current_user.role?(:instructor) %>
            <div class="center-align white-text"><h4>Welcome <%= current_role.first_name %> <%= current_role.last_name %></h4></div>
            <a class="btn waves-effect" href="/home/dash">Upcoming</a>
          <% else %>
            <div class="center-align white-text"><h3>A&M Chess Camps</h3></div>
            <a class="btn waves-effect" href="/camps">Discover</a>
          <% end %>
        </div>
        <div class="carousel-item white-text" href="#one!">
          <%= image_tag 'home1.jpg' %>
        </div>
        <div class="carousel-item white-text" href="#two!">
          <%= image_tag 'home.jpg' %>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <%= image_tag 'home2.jpg' %>
        </div>
      </div>
    <% else %>
    
    <div class="row">
      <div class = "container" id="main_content">
        <%= render :partial => "partials/flash" %>
        <br></br>
        <%= yield %>
      </div>
    </div>
    <% end %>
    <footer>
      <div class="center-align" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer>
  </body>
  
  <div id="login" class="modal">
    <div class="modal-content">
      <center><h4>Login</h4></center>
        <br />
        <%= form_with url: sessions_path, local: true do |f| %>
        <div class="control-group">
          <%= f.label :username %>
          <div class="controls">
            <%= f.text_field :username %>
          </div>
        </div>
  
        <div class="control-group">
          <%= f.label :password %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="actions"><%= f.submit "Log In", class: "btn" %></div>
        
        <% end %>
      <p>New? <a class="btn modal-close modal-trigger" href="#signup">Signup here</a></p>
    </div>
    
  </div>
  
  <div id="signup" class="modal">
    <div class="modal-content">
      <center><h4>Create an account</h4></center>
        <br />
        <% @family = Family.new %>
        <%= render partial: "families/form", locals: {object: @family} %>
      <p>Have an account? <a class="btn modal-close modal-trigger" href="#login">Login here</a></p>
    </div>
  </div>
  
</html>
